*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
}
.banner{
    display: flex;
    justify-content: center;
    position: relative;
}
.banner-image{
    margin-top: 20px;
    border-radius: 10px;
}
.banner .content{
    position: absolute;
    color: white;
    margin-top: 120px;
}
.content .new{
    font-weight: 200;
    font-size: 40px;
    margin-left: 70px;
    margin-bottom: 30px;
}
.content .first{
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 160px;
}
.content .second{
    text-transform: uppercase;
    font-size: 50px;
    margin-left: 130px;
    display: inline;
}
.content .third{
    text-transform: uppercase;
    font-size: 50px;
    margin-left: 30px;
}